<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Telerik.Reporting.Examples.CSharp.Properties.Settings.Pharmacy"
     connectionString="Data Source=(local);Initial Catalog=Pharmacy;User ID=sa;Password=schoolspire1234"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>

    <!--setting for images-->
    <!--<add key="Pharmacy" value="Data Source=182.186.23.181;Initial Catalog=Pharmacy;User ID=sa;Password=!Nift1234"/>-->
    <!--<add key="Pharmacy" value="Data Source=Rashid;Initial Catalog=Pharmacy;User ID=sa;Password=!Nift1234"/>-->

    <!--<add key="Pharmacy" value="Data Source=(local);Initial Catalog=Pharmacy;User ID=sa;Password=!Nift1234"/>-->
    
     <add key="Pharmacy" value="Data Source=(local);Initial Catalog=Pharmacy;User ID=sa;Password=schoolspire1234"/>    
    <add key="Wr_CompanyName" value="Mumtaz Medical Store"/>
    <add key="Wr_Phone" value="0331-6021616"/>
    <add key="Wr_Address" value="Rojhan Road Mithan Kot Dist. Rajan Pur"/>
    <add key="Wr_Text" value="Warranty : This agreement is made and entered into on Day of Month, Year by and between Seller (the “Seller”),
a company located at Seller' Address and Distributor (the “Distributor”), a company located at Distributor's Address WHEREAS:
a) The Seller manufactures certain medical device products (the “Products”) as defined in Appendix 1: The Product Range; and
b) The Seller wishes to appoint the Distributor as a distributor and as Official Representative for the promotion and sale of
the Products in the territories as defined in Appendix 2: Territories (the “Territories”); and
c) The Distributor wishes to be appointed as a distributor and as Official Representative for the promotion and sale of the Products
in the Territories on the terms of this agreement."/>
    <add key="NoWr_CompanyName" value="Asif Medical Store"/>
    <add key="NoWr_Phone" value="062-1234324 "/>
    <add key="NoWr_Address" value="Rojhan Road Kot Mithan Dist. Rajan Pur "/>
   <add key="NoWr_Text" value="This is no warranty text."/>


 
	  <add key="Licence" value="dwofOfPa1dygaBersw/y0Q=="/>
  </appSettings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
</startup>
</configuration>
